@using Project_Management.Helpers
@model IEnumerable<Project_Management.Models.UserTask>

@{
  ViewBag.Title = "List";
}

<h2>List of tasks</h2>
@if (User.IsInRole("ProjectManager"))
{
  <p>
    @Html.ActionLink("Create", "Create", new { projectId = ViewBag.ProjectId })
  </p>
}
<p>
  @Html.ActionLink("Order by completed work", "List", new { projectId = ViewBag.ProjectId })
</p>
<p>
  @Html.ActionLink("Order by priority", "ListByPriority", new { projectId = ViewBag.ProjectId })
</p>
<table class="table  table-bordered">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Project.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CompletedPercentage)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Priority)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Deadline)
    </th>
    <th>
      Developers
    </th>
    <th>
      Actions
    </th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Project.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped @(UiHelper.ClassSelector(item.CompletedPercentage))" role="progressbar" style="width: @item.CompletedPercentage%" aria-valuenow="@item.CompletedPercentage" aria-valuemin="0" aria-valuemax="100">@item.CompletedPercentage</div>
        </div>
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Priority)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Deadline, "{0:d MMM yyyy}")
      </td>
      <td>
        @foreach (var user in item.Users)
        {
          <div>@user.Name</div>
        }
      </td>
      <td>
        @Html.ActionLink("Update", "Edit", new { taskId = item.Id }) |
        @Html.ActionLink("Notes", "List", "Notes", new { id = item.Id }, null) |
        @if (User.IsInRole("ProjectManager"))
        {
          @Html.ActionLink("Delete", "Delete", new { taskId = item.Id })
        }
      </td>
    </tr>
  }

</table>
